In [1]:
## libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
# connecting to the planes database

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\plane1.db")
cursor = conn.cursor()

In [3]:
# calling the flights table and saving as a df

query = '''

SELECT * from flights

'''

df = pd.read_sql_query(query, conn)
conn.close()

df

,airline,date_of_journey,source,destination,route,dep_time,arrival_time,duration,total_stops,additional_info,price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [ ]:
# now let's get a feel for the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10683 non-null  object
 1   date_of_journey  10683 non-null  object
 2   source           10683 non-null  object
 3   destination      10683 non-null  object
 4   route            10682 non-null  object
 5   dep_time         10683 non-null  object
 6   arrival_time     10683 non-null  object
 7   duration         10683 non-null  object
 8   total_stops      10682 non-null  object
 9   additional_info  10683 non-null  object
 10  price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
# the df contain 9 categorical features.
# one quantitative feature - Price

In [5]:
# Let's get a sense of the categorical features and data cleaning needed
df.head()

,airline,date_of_journey,source,destination,route,dep_time,arrival_time,duration,total_stops,additional_info,price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
# Let's search for missing values 

df.isna().sum()

airline            0
date_of_journey    0
source             0
destination        0
route              1
dep_time           0
arrival_time       0
duration           0
total_stops        1
additional_info    0
price              0
dtype: int64

In [7]:
# isolating the missing value(s) in the 'Route' feature

df[df['route'].isna()]

,airline,date_of_journey,source,destination,route,dep_time,arrival_time,duration,total_stops,additional_info,price
9039,Air India,6/05/2019,Delhi,Cochin,None,09:45,09:25 07 May,23h 40m,None,No info,7480

In [8]:
# saving the missing value in a variable 

missing_route = df[df['route'].isna()]
missing_route

,airline,date_of_journey,source,destination,route,dep_time,arrival_time,duration,total_stops,additional_info,price
9039,Air India,6/05/2019,Delhi,Cochin,None,09:45,09:25 07 May,23h 40m,None,No info,7480

In [ ]:
# both missing values are in the same entry

In [9]:
# with it being one entry, we will just delete it and save it into a new dataframe

df_clean = df.dropna()
df_clean.isna().sum()

airline            0
date_of_journey    0
source             0
destination        0
route              0
dep_time           0
arrival_time       0
duration           0
total_stops        0
additional_info    0
price              0
dtype: int64

In [ ]:
# now we are ready to start the feature engineering

In [ ]:
"""

Categorical Feature Deconstruction

"""

In [ ]:
### General Cleaning ###

In [10]:
# Converting text values to lower case #

# values
dfc = df_clean.apply(lambda col: col.map(lambda x: x.lower() if isinstance(x, str) else x))

# headers
dfc.columns = dfc.columns.str.lower()
dfc

,airline,date_of_journey,source,destination,route,dep_time,arrival_time,duration,total_stops,additional_info,price
0,indigo,24/03/2019,banglore,new delhi,blr → del,22:20,01:10 22 mar,2h 50m,non-stop,no info,3897
1,air india,1/05/2019,kolkata,banglore,ccu → ixr → bbi → blr,05:50,13:15,7h 25m,2 stops,no info,7662
2,jet airways,9/06/2019,delhi,cochin,del → lko → bom → cok,09:25,04:25 10 jun,19h,2 stops,no info,13882
3,indigo,12/05/2019,kolkata,banglore,ccu → nag → blr,18:05,23:30,5h 25m,1 stop,no info,6218
4,indigo,01/03/2019,banglore,new delhi,blr → nag → del,16:50,21:35,4h 45m,1 stop,no info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,air asia,9/04/2019,kolkata,banglore,ccu → blr,19:55,22:25,2h 30m,non-stop,no info,4107
10679,air india,27/04/2019,kolkata,banglore,ccu → blr,20:45,23:20,2h 35m,non-stop,no info,4145
10680,jet airways,27/04/2019,banglore,delhi,blr → del,08:20,11:20,3h,non-stop,no info,7229
10681,vistara,01/03/2019,banglore,new delhi,blr → del,11:30,14:10,2h 40m,non-stop,no info,12648
10682,air india,9/05/2019,delhi,cochin,del → goi → bom → cok,10:55,19:15,8h 20m,2 stops,no info,11753

In [ ]:
#### Deconstruction of the 'Date_of_Journey' feature ####

In [ ]:
# deconstruct the date value into 3 new features: day, month, & year

In [ ]:
# Steps #
# 1.) split the feature on the slash
# 2.) transform the data type to an integer
# 3.) Drop 'Date_of_Journey' from the final data set

In [11]:
# creating feature 'day' by splitting and storing the first value on splitting '/' in 'Date_of_Journey' [0]

dfc["day"]=dfc['date_of_journey'].apply(lambda x:x.split("/")[0])

In [12]:
# creating features 'month' & 'year' - [1], [2]

dfc["month"]=dfc['date_of_journey'].apply(lambda x:x.split("/")[1])
dfc["year"]=dfc['date_of_journey'].apply(lambda x:x.split("/")[2])

In [13]:
# changing the data type of the newly constructed features to the integer data type

dfc['day'] = dfc['day'].astype(int)
dfc['month'] = dfc['month'].astype(int)
dfc['year'] = dfc['year'].astype(int)

In [14]:
# dropping the original feature

dfc.drop('date_of_journey', axis=1, inplace=True)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10682 non-null  object
 1   source           10682 non-null  object
 2   destination      10682 non-null  object
 3   route            10682 non-null  object
 4   dep_time         10682 non-null  object
 5   arrival_time     10682 non-null  object
 6   duration         10682 non-null  object
 7   total_stops      10682 non-null  object
 8   additional_info  10682 non-null  object
 9   price            10682 non-null  int64
 10  day              10682 non-null  int32
 11  month            10682 non-null  int32
 12  year             10682 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 1.0+ MB

In [ ]:
### Deconstruction of the 'arrival_time' feature ###
# deconstruct the feature into two new features: arv_hour and arv_min

In [ ]:
### Steps ###
# 1.) split the feature on the :
# 2.) transform data type to integer
# 3.) drop 'Arrival_Time' from the final dataset

In [15]:
dfc['arrival_time'].unique()

array(['01:10 22 mar', '13:15', '04:25 10 jun', ..., '06:50 10 mar',
       '00:05 19 mar', '21:20 13 mar'], dtype=object)

In [16]:
# splitting the feature by the space and storing the first element

dfc['arrival_time'] = dfc['arrival_time'].apply(lambda x : x.split(' ')[0])

In [17]:
# creating new features to store hour & minute

dfc['arv_hour'] = dfc['arrival_time'].str.split(':').str[0]
dfc['arv_min'] = dfc['arrival_time'].str.split(':').str[1]

In [18]:
# transforming data type to integer

dfc['arv_hour'] = dfc['arv_hour'].astype(int)
dfc['arv_min'] = dfc['arv_min'].astype(int)

In [19]:
# dropping deconstructed feature 

dfc.drop('arrival_time', axis=1, inplace=True)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10682 non-null  object
 1   source           10682 non-null  object
 2   destination      10682 non-null  object
 3   route            10682 non-null  object
 4   dep_time         10682 non-null  object
 5   duration         10682 non-null  object
 6   total_stops      10682 non-null  object
 7   additional_info  10682 non-null  object
 8   price            10682 non-null  int64
 9   day              10682 non-null  int32
 10  month            10682 non-null  int32
 11  year             10682 non-null  int32
 12  arv_hour         10682 non-null  int32
 13  arv_min          10682 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 1.0+ MB

In [ ]:
### Deconstruction of the 'dep_time' feature ###
# this will be very similar to arrival time!

In [22]:
dfc['dep_time'].unique()

KeyError: 'dep_time'

In [21]:
## Steps: 
# 1.) split the feature on the :
# 2.) transform data type to integer
# 3.) drop 'Arrival_Time' from the final dataset

In [21]:
dfc['dep_time'] = dfc['dep_time'].apply(lambda x : x.split(' ')[0])

dfc['dep_hour'] = dfc['dep_time'].str.split(':').str[0]
dfc['dep_min'] = dfc['dep_time'].str.split(':').str[1]

dfc['dep_hour'] = dfc['dep_hour'].astype(int)
dfc['dep_min'] = dfc['dep_min'].astype(int)

dfc.drop('dep_time', axis=1, inplace=True)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10682 non-null  object
 1   source           10682 non-null  object
 2   destination      10682 non-null  object
 3   route            10682 non-null  object
 4   duration         10682 non-null  object
 5   total_stops      10682 non-null  object
 6   additional_info  10682 non-null  object
 7   price            10682 non-null  int64
 8   day              10682 non-null  int32
 9   month            10682 non-null  int32
 10  year             10682 non-null  int32
 11  arv_hour         10682 non-null  int32
 12  arv_min          10682 non-null  int32
 13  dep_hour         10682 non-null  int32
 14  dep_min          10682 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 1.0+ MB

In [ ]:
### Deconstruction of the 'duration' feature ###

In [23]:
df['duration'].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [ ]:
# I will again follow a very similar method to arrival_time and dep_time
# but there are some text characters to handle this time

In [ ]:
## Steps:
# 1.) split the value elements into two different features
# 2.) Remove the string characters 
# 3.) Transform feature's data type to integer
# 4.) Convert hours to minutes 
# 5.) Drop 'Duration' from the final dataset

In [24]:
dfc['dur_hour']=dfc['duration'].str.split(' ').str[0].str.split('h').str[0]
dfc['dur_min']=dfc['duration'].str.split(' ').str[1].str.split('m').str[0]

dfc['dur_min'] = dfc['dur_min'].astype(int)
dfc['dur_hour'] = dfc['dur_hour'].astype(int)

dfc.drop('duration', axis=1, inplace=True)
dfc.info()

ValueError: cannot convert float NaN to integer

In [ ]:
# it looks like the split caused the creation on NaN values

In [25]:
dfc['dur_hour']=dfc['duration'].str.split(' ').str[0].str.split('h').str[0]
dfc['dur_min']=dfc['duration'].str.split(' ').str[1].str.split('m').str[0]

In [26]:
df.isna().sum()

airline            0
date_of_journey    0
source             0
destination        0
route              1
dep_time           0
arrival_time       0
duration           0
total_stops        1
additional_info    0
price              0
dtype: int64

In [ ]:
## it looks like dur_min has the newly created NaN

In [27]:
dfc[dfc['dur_min'].isna()]

,airline,source,destination,route,duration,total_stops,additional_info,price,day,month,year,arv_hour,arv_min,dep_hour,dep_min,dur_hour,dur_min
2,jet airways,delhi,cochin,del → lko → bom → cok,19h,2 stops,no info,13882,9,6,2019,4,25,9,25,19,NaN
18,air india,delhi,cochin,del → ccu → bom → cok,23h,2 stops,no info,13381,12,6,2019,19,15,20,15,23,NaN
33,jet airways,delhi,cochin,del → nag → bom → cok,22h,2 stops,in-flight meal not included,10919,15,6,2019,12,35,14,35,22,NaN
44,multiple carriers,delhi,cochin,del → bom → cok,12h,1 stop,no info,13062,21,3,2019,21,0,9,0,12,NaN
53,indigo,banglore,delhi,blr → del,3h,non-stop,no info,3943,18,6,2019,0,15,21,15,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10591,jet airways,delhi,cochin,del → atq → bom → cok,23h,2 stops,no info,14300,12,6,2019,19,0,20,0,23,NaN
10638,jet airways,banglore,new delhi,blr → bom → del,14h,1 stop,in-flight meal not included,7832,21,3,2019,11,25,21,25,14,NaN
10639,air india,delhi,cochin,del → rpr → nag → bom → cok,38h,3 stops,no info,10493,3,6,2019,19,15,5,15,38,NaN
10673,jet airways,delhi,cochin,del → amd → bom → cok,15h,2 stops,no info,16704,27,5,2019,4,25,13,25,15,NaN
10680,jet airways,banglore,delhi,blr → del,3h,non-stop,no info,7229,27,4,2019,11,20,8,20,3,NaN

In [28]:
# we can conduce that these NaN values of true 0s

dfc['dur_min']=dfc['dur_min'].fillna(0)

In [29]:
dfc['dur_min'] = dfc['dur_min'].astype(int)
dfc['dur_hour'] = dfc['dur_hour'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [ ]:
# there is one more little error to deal with
# identifying the '5m'

In [30]:
dfc['dur_hour'].unique()

array(['2', '7', '19', '5', '4', '15', '21', '25', '13', '12', '26', '22',
       '23', '20', '10', '6', '11', '8', '16', '3', '27', '1', '14', '9',
       '18', '17', '24', '30', '28', '29', '37', '34', '38', '35', '36',
       '47', '33', '32', '31', '42', '39', '5m', '41', '40'], dtype=object)

In [ ]:
# the 5m is in 'dur_hour'

In [31]:
# finding the entry error value

dfc[dfc['dur_hour']== '5m']

,airline,source,destination,route,duration,total_stops,additional_info,price,day,month,year,arv_hour,arv_min,dep_hour,dep_min,dur_hour,dur_min
6474,air india,mumbai,hyderabad,bom → goi → pnq → hyd,5m,2 stops,no info,17327,6,3,2019,16,55,16,50,5m,0

In [32]:
# I will just drop these two entries as well

dfc.drop(6474, axis=0, inplace = True)

In [33]:
dfc['dur_min'] = dfc['dur_min'].astype(int)
dfc['dur_hour'] = dfc['dur_hour'].astype(int)

In [34]:
## Now I will create the new feature 'total_dur'

dfc['total_dur'] = (dfc['dur_hour']*60) + dfc['dur_min']

In [34]:
dfc.head()

,airline,source,destination,route,duration,total_stops,additional_info,price,day,month,year,arv_hour,arv_min,dep_hour,dep_min,dur_hour,dur_min,total_dur
0,indigo,banglore,new delhi,blr → del,2h 50m,non-stop,no info,3897,24,3,2019,1,10,22,20,2,50,170
1,air india,kolkata,banglore,ccu → ixr → bbi → blr,7h 25m,2 stops,no info,7662,1,5,2019,13,15,5,50,7,25,445
2,jet airways,delhi,cochin,del → lko → bom → cok,19h,2 stops,no info,13882,9,6,2019,4,25,9,25,19,0,1140
3,indigo,kolkata,banglore,ccu → nag → blr,5h 25m,1 stop,no info,6218,12,5,2019,23,30,18,5,5,25,325
4,indigo,banglore,new delhi,blr → nag → del,4h 45m,1 stop,no info,13302,1,3,2019,21,35,16,50,4,45,285

In [35]:
dfc.drop('duration', axis=1, inplace=True)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10681 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10681 non-null  object
 1   source           10681 non-null  object
 2   destination      10681 non-null  object
 3   route            10681 non-null  object
 4   total_stops      10681 non-null  object
 5   additional_info  10681 non-null  object
 6   price            10681 non-null  int64
 7   day              10681 non-null  int32
 8   month            10681 non-null  int32
 9   year             10681 non-null  int32
 10  arv_hour         10681 non-null  int32
 11  arv_min          10681 non-null  int32
 12  dep_hour         10681 non-null  int32
 13  dep_min          10681 non-null  int32
 14  dur_hour         10681 non-null  int32
 15  dur_min          10681 non-null  int32
 16  total_dur        10681 non-null  int32
dtypes: int32(10), int64(1), object(6)
memory usage: 1.1+ MB

In [ ]:
# deconstruction of 'total_stops' #

In [36]:
dfc['total_stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [ ]:
# I will conduct a simpler encoding here since there are no other related features

In [37]:
dfc['total_stops']= dfc['total_stops'].map({'non-stop': 1 , '1 stop': 2, '2 stops': 3, '3 stops': 4, '4 stops': 5, 'NaN': 0})
dfc['total_stops'].unique()

array([1, 3, 2, 4, 5], dtype=int64)

In [ ]:
"""

End of this feature engineering section.

"""

In [38]:
# upload cleaned df into a database

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\plane1.db")
cursor = conn.cursor()

In [39]:
table_name = 'flights_cleaned'
dfc.to_sql(table_name, conn, if_exists='replace', index=False)

10681

In [40]:
conn.close()